.card {
  box-sizing: border-box;
  width: 190px;
  height: 254px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;

  display: flex;
  flex-direction: column;      /* stack items vertically */
  justify-content: space-between; /* push img up + text down */
  align-items: center;         

  padding: 12px;
}
.card:hover {
  border: 1px solid rgb(149, 131, 131);
  transform: scale(1.05);
}
.card img {
  width: 200px;  
  height: auto;
  object-fit: contain;
}

.card h1 {
  font-size: 14px;
  margin: 0 0 6px 6px; 
}
